<head>
  <title>TomThumb</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> pages}}
</body>

<template name="pages">
  <p>
    <!-- json data : {{jsonData}} -->
  </p>
  <button id="button">Go to next page</button>
</template>
